body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: auto;
}

.store-name {
    font-size: 24px;
    margin-left: 20px;
    color: black;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    background-color: white;
    color: rgb(19, 19, 19);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.5s, color 0.5s;
}

nav a:hover {
    background-color: #e0e0e0;
    color: black;
}

main {
    padding-top: 140px;
}

.rickroll-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
